# ---------------------------
# Postgres Database Variables
# ---------------------------
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB_NAME=main

# ---------------------------
# S3 Object Storage Variables
# ---------------------------
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=minioadmin

# ---------------------------
# TSUIKA API VARIABLES
# ---------------------------

# REQUIRED
DOMAIN=localhost
HOST_URL=http://${DOMAIN}:8000
FRONTEND_ORIGIN=http://localhost:3000
ENABLE_EMAIL_VERIFICATION=false
RESEND_API_KEY=
JWT_SECRET=
S3_BUCKET_USE_SSL='false'
S3_BUCKET_API_PORT=9000
S3_BUCKET_ENDPOINT=${DOMAIN}
S3_BUCKET_URL=http://${S3_BUCKET_ENDPOINT}:9001

# OPTIONAL
CORS_ORIGIN_HOPPSCOTCH=
CORS_ORIGIN_BROWSER_EXTENSION=


# ---------------------------
# TSUIKA FRONTEND 
# ---------------------------

# REQUIRED 
VITE_API_BASE_URL=http://localhost:8000

# OPTIONAL
VITE_GENAI_API_KEY=


# ---------------------------
# TSUIKA FRONTEND 
# ---------------------------
MEILI_HOST=http://localhost:7700
MEILI_MASTER_KEY=
